*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS";
    background: #2B061E;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 25px;
    background: #FBBFCA;
}

ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

main{
    width:1200px;
    margin: auto;
    text-align: center;
}

h4 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.profile-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

#gallery{
    width: 250px;
    height: 250px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

#prev,
#next {
    height:15px;
    width: 15px;
    background: none;
    border: none;
}

#gallery-img {
    width: 100%;
}

#prev:hover,
#next:hover {
    cursor: pointer;
}

.music {
    font-size: 35px;
}